<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="trolley"></mat-icon>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <span class="navbar-text">
          <mat-icon [matMenuTriggerFor]="menu" aria-hidden="false" aria-label="Example home icon" fontIcon="person" style="cursor: pointer;"></mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item [routerLink]="'/app-layout/my-account'">My Account</button>
            <button mat-menu-item [routerLink]="'/login'">Logout</button>
          </mat-menu>
        </span>
    </div>
  </nav>