<button mat-button class="menu-button-custom" routerLink="/home/dashboard">
<mat-icon>home</mat-icon>
  Home
</button>
<button mat-button class="menu-button-custom" [matMenuTriggerFor]="memberMenu"> Member </button>
<button mat-button class="menu-button-custom" [matMenuTriggerFor]="vehicleMenu"> Vehicle </button>
<button mat-button class="menu-button-custom" [matMenuTriggerFor]="financeMenu"> Finance </button>
<button mat-button class="menu-button-custom" [matMenuTriggerFor]="tripMenu"> Trip </button>

<button mat-button [matMenuTriggerFor]="loginMenu">
  <mat-icon>account_circle</mat-icon>
  {{appContext.authenticationDetails.firstName}}
</button>


<mat-menu #loginMenu="matMenu">
  <button color="primary" class="menu-item-custom" mat-button (click)="logout()">
    <mat-icon>input</mat-icon>
    Sign Out
  </button>
</mat-menu>

<mat-menu #memberMenu="matMenu">
  <button color="primary" class="menu-item-custom" mat-button routerLink="/home/users">Users</button>
  <button color="primary" class="menu-item-custom" mat-button>Contacts</button>
</mat-menu>
<mat-menu #vehicleMenu="matMenu">
  <button color="primary" class="menu-item-custom" mat-button>Lorry</button>
  <button color="primary" class="menu-item-custom" mat-button>Dozer</button>
</mat-menu>
<mat-menu #financeMenu="matMenu">
  <button color="primary" class="menu-item-custom" mat-button>Recent Activity</button>
</mat-menu>
<mat-menu #tripMenu="matMenu">
  <button color="primary" class="menu-item-custom" mat-button>Trip</button>
</mat-menu>
